<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar - Labs</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style1.css')}}">
    <!-- <script src="{{url_for('static', filename='script.js')}}" defer></script> -->
    <script src="{{url_for('static', filename='script1.js')}}" defer></script>
    <!-- <script src="{{url_for('static', filename='script2.js')}}" defer></script> -->
</head>
<body>
    <header1>
        <nav class="navbar">
            <span class="hamburger-btn material-symbols-rounded">menu</span>
            <a href="home.html" class="logo">
                <img src="{{url_for('static', filename = 'images/logo2.jpg')}}" alt="logo">
                <h2>IITDh Resource Manager</h2>
            </a>
            <ul class="links">
                <span class="close-btn material-symbols-rounded">close</span>
                <li><a href="/dashboard">Home</a></li>
                <li><a href="{{url_for('classroom')}}">Classrooms</a></li>
                <li><a href="{{url_for('labs')}}" style="color:cadetblue">Labs</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <form action = "{{url_for('logout')}}">
              <button type ="submit" class="login-btn">Logout</button>
          </form>
        </nav>
    </header1>

    <div class="wrapper">
      <header style="border-width: 5px; border-style: solid; border-radius: 10px 10px 0px 0px">

        <p class="current-date"></p>
        <div class="icons">
          <span id="prev" class="material-symbols-rounded">chevron_left</span>
          <span id="next" class="material-symbols-rounded">chevron_right</span>
        </div>
      </header>
      <div class="calendar" style="border-style: solid; border-radius: 0px 0px 10px 10px; border-width: 0px 5px 5px 5px;">
        <ul class="weeks">
          <li>Sun</li>
          <li>Mon</li>
          <li>Tue</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
        </ul>
        <ul class="days"></ul>
      </div>
    </div>
    <form class="booking-form" action = "/labs/book" method = "post">

      <div class="booking-form-container">

      <h1 style="padding-bottom: 5%; margin-left:7%; "> <u> Book a lab: </u> </h1>
      <hr style="width: 100%; border-color: #191b1e;">
      <div class="booking-fields">
        <div><label for="book-classroom-no"> <b> Lab number: </b> <label></div>
        <select name = "classroomName" id="book-classroom-no" style="width: 100%; height: 35px; background-color: white; border-style: solid; border-color: black; border-radius:10px; padding-left: 2%;" required>
          <option value="" disabled selected hidden>Select a room</option>
          <option> Lab 1 </option>
          <option > Lab 2 </option>
          <option > Lab 3 </option>
        </select>
      </div>

      <div class="booking-fields">
        <div><label for="book-date"> <b> Date: </b> <label></div>
        <input id="book-date" type="date" name = "date" required>
      </div>

      <div class="booking-fields">
        <div><label for="book-time-start"> <b> Start Time: </b> <label></div>
        <input id="book-time-start" type="time" name = "time_start" placeholder="E.g. 1" required>
      </div>

      <div class="booking-fields">
        <div><label for="book-time-end"> <b> End Time: </b> <label></div>
        <input id="book-time-end" type="time" name = time_end placeholder="E.g. 1" required>
      </div>

      <ul class="days"></ul>
    </div>

    <div style="width: 90%; margin-left: 5%; margin-right: 5%;">
      <button type="submit" style="border-style:solid; border-color: black; border-radius:20px; border-width: 3px;">Request for Approval</button>
    </div>
  </form>
</body>
